
*{

  margin: 0;
  padding :0;
  box-sizing: border-box;
}

body{

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background: #E6FF94;
}

h1{

  font-size: 10vh;
  margin: 3vh 0vh 4vh 0vh;
  color: blueviolet;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  filter:  drop-shadow(3px 3px red) ;
  transition: .5s;
}
h1:hover{

  filter:  drop-shadow(7px 7px red) ;

}
.search-container{

  display: flex;
  justify-content: space-between;
  width:70vw;
  
}
#searchfield{

  outline: none;
  border: 2px solid #f75454;
  width: 50vw;
  height:5vh;
  border-radius: .5vh;
  font-size: 2vh;
  color: rgb(35, 35, 35);
  padding-left: 4vh;
  font-family: 'Courier New', Courier, monospace;

}
#submit{

  width: 15vw;
  color: #fff ;
  font-weight: 900;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  border: .5vh solid #ca0a54;
  background: #f92889;
  border-radius: .5vh;
}
.card-container{

  display: flex;
  flex-direction: column;
  width: 50vw;
  height: 50vw;
  margin-top: 5vh;
  margin-left: 10vh;
  background: #fbfbfb;
}
.header-card{
display: flex;
justify-content: space-around;
width: 50vw;
padding: 1vh;
background-color: #ebe7e9;
}

.date
{
  font-size: 2vh;
  margin-top: 1.5vh;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-style: italic;
}
.temp{

  font-size: 4vh;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 800;
  color: rgb(245, 37, 55);

}
.tempf{

  font-size: 2vh;
  margin-top: 1.5vh;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 800;
  color: darkmagenta;
}
.day
{
  width:5vh;
  height:auto;

}
.country-details{

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 50vw;
  height:25vh;
  padding: 1vh;
  /* background-color: #f92889; */
}

.place-name{

  font-size: 7vh;
  font-weight: 700;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #057665;
}
.country{
  font-size: 3vh;
  font-weight: 700;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #484949;
}

.weather{

  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 50vw;
  margin-top: 1vh;
  padding: 1vh;

}

.condition-text{

  font-size: 4vh;
  font-weight: 700;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #c57806;

}
.condition{

  width: 20vh;
  height: 20vh;
  color: #484949;
}
